* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5;
  /* display: flex; */
}
header {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* background-color: black; */
  /* box-shadow: 0 1px 0 0.2rem rgba(95, 92, 92, 0.19); */
}

.header img {
  max-width: 100%;
  width: auto;
  height: calc(var(--header-height) - var(--su-2) * 2);
  object-fit: contain;
  vertical-align: middle;
  display: inline;
  /* height: 50%; */
}
.input {
  position: relative;
}
.input input {
  width: 30rem;
  height: 4rem;

  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}
.input input::placeholder {
  font-size: 1.8rem;
  font-weight: 500;
}
.input-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  width: 2.8rem;
  height: 2.8rem;
  border: none;
  /* padding: 1.5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.input-btn .bi {
  font-size: 1.8rem;
}

.input-btn :hover {
  background-color: #ebecfc;
}
.btn-container {
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  gap: 2.7rem;
  align-items: center;
}

.btn-1 {
  text-decoration: none;
  color: rgb(84, 80, 80);
}
.btn-2 {
  text-decoration: none;
  text-align: center;
  border: 0.1rem solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}
.btn-2:hover {
  background-color: rgba(0, 0, 255, 0.797);
  color: #fff;
}
.section-main {
  padding: 0 3rem;
  gap: 2rem;
  position: relative;
}
section {
  float: left;
  left: 10%;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  position: relative;
}

.section-container {
  width: 70rem;
  height: 100%;
  background-color: #fafafa;
  border-radius: 0.5rem;
  border-bottom: 1px solid grey;
}

.section-container img {
  width: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: 75%;
}

.text-container h1 {
  font-size: 5.5rem;
  line-height: 1.3;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%; */

  padding: 0 5rem;
}

.hyperlinks-container {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgba(128, 128, 128, 0.07);
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 2rem;
}

.hyperlinks-container h2:first-child {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid rgba(128, 128, 128, 0.252);

  /* color: #3b49df; */
  /* font-weight: 500; */
}
.hyperlinks-container h2 {
  font-size: 2.5rem;
}
.hyperlinks-sub {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* .hyperlinks-sub :hover {
  background-color: #f67f;
} */
.hyperlinks-sub h2 {
  font-size: 2rem;
  font-weight: 500;
}

.hyperlinks-sub p {
  font-size: 2rem;
  background-color: #3b49df;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  border-radius: 50%;
  color: white;
}
.hyperlinks-duplicate {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hyperlinks-duplicate p {
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0.187);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  border-radius: 50%;
  color: #000;
}

.hyperlinks-duplicate h2 {
  color: black;
  font-weight: 400;
  font-size: 2rem;
}

.s p,
ul {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.6;
}
.s h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.s ul {
  padding-left: 2rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  padding-left: 4.8rem;
}
footer .a {
  text-decoration: none;
  color: #3b49df;
}
footer span {
  font-size: 1.8rem;
  color: grey;
}
.bi-linkedin {
  font-size: 3.4rem;
}
.section-2-container {
  float: right;
  width: 27%;
  /* padding: 40px 40px 60px; */
  padding: 20px 20px;
  /* display: var(--layout-sidebar-right-display); */
  background-color: #fafafa;
  box-shadow: 0 12px 0 -6px #0000;
  box-sizing: border-box;
  position: fixed;
  right: 5%;
  border-top: 4rem solid #021e2f;
  border-radius: 1rem;
}
.flex {
  display: flex;
  align-items: center;
  gap: 4rem;
  /* justify-content: space-between; */
  margin-top: -4rem;
  text-decoration: none;
  margin-bottom: 2rem;
}
.name {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}
.avatar img {
  border-radius: 100%;
}
.grey {
  color: grey;
  font-size: 1.2rem;
  font-weight: 400;
}

.section-3-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  float: right;
  width: 27%;
  background-color: #fafafa;
  border-radius: 1rem;
  position: sticky;
  height: 50%;
  top: 60%;
  right: 5%;
}

.d1 {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.d1 input {
  width: 70%;
  height: 6rem;
  border: 1px solid grey;
}
.d1 input::placeholder {
  color: grey;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  /* padding: -3rem; */
}
.d1 img {
  width: 5%;
  border-radius: 100%;
}

/* MEDIA QUERYS */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 838px (Tablets) */
/**************************/

@media (max-width: 52em) {
  .section-container {
    width: 70rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .input input {
    display: none;
  }

  .input-btn {
    display: none;
  }

  .header img {
    width: 7rem;
    height: 7rem;
  }
}

/**************************/
/* BELOW 600px (Smaller tablets) */
/**************************/
@media (max-width: 38em) {
  html {
    /* 9px / 16px  */
    font-size: 50%;
  }

  .section-container {
    width: 60rem;
  }
}

@media (max-width: 24em) {
  .hyperlinks-container {
    margin: 2rem 0;
    width: 100%;
  }
}

@media (max-width: 20em) {
  .main-container {
    padding: 0 2rem;
  }

  .btn-2 {
    padding: 0.5rem 0.5rem;
  }
  .header img {
    width: 5rem;
    height: 5rem;
  }
  .text-container h1 {
    font-size: 3rem;
  }
}
